<div class="border-2 border-black m-4 p-2 bg-emerald-600 rounded-md shadow-emerald-950 shadow-lg">
    <!--Title row-->
    <div class="grid grid-cols-3">
        <div></div>
        <h1 class="text-center sm:text-lg lg:text-2xl border-black rounded-md bg-emerald-200 text-emerald-800 border-2 p-2">Select your character</h1>
        <div></div>
    </div>
    <!--Char row-->
    <!--Check if its better max-x-X or none max-x?-->
    <div class="flex justify-center mt-4 m-2 rounded-md shadow-lg lg:shadow-none md:shadow-none shadow-emerald-950">
        <div class="text-center border-2 rounded-md border-emerald-700 bg-emerald-200">
            <div class="bg-emerald-900 rounded-md m-2 p-4 text-xl text-emerald-100 shadow-lg shadow-emerald-900">{{currentSprite.name}}</div>
            <div class="walkSprite" [ngStyle]="{'background-image': 'url(' + currentSprite.dir + ')'}"></div>
        </div>
        <div class="text-center rounded-md border-emerald-200 bg-emerald-950 text-emerald-200 h-72">
            <h1 class="rounded-md text-emerald-900 m-2 p-1 bg-emerald-200 text-xl">Description</h1>
            <div class="text-center content-center mt-2 m-4 text-sm lg:max-w-52 md:max-w-48 h-40">
                {{currentSprite.desc}}
            </div>
            <div class="flex justify-center bg-emerald-400 rounded-md">
                <div class="border-2 m-2 w-20 border-blue-800 text-blue-200 bg-blue-950 p-2 rounded-md text-sm">dmg: {{currentSprite.dmg}}</div>
                <div class="border-2 m-2 w-20 border-red-800 text-red-200 bg-red-950 p-2 rounded-md text-sm">HP: {{currentSprite.hp}}</div>
            </div>
        </div>
    </div>
    <!--Button Row-->
    <div class="grid grid-cols-1 mx-auto">
        <div class="grid grid-cols-3 gap-2 text-center">
            <a class="border-2 border-lime-300 rounded-md py-2 px-4 bg-lime-200 text-center hover:bg-lime-500 cursor-pointer hover:text-lime-300" (click)="goBackwards()">Previous</a>
            <a class="border-2 border-lime-300 rounded-md py-2 px-4 bg-lime-200 text-center hover:bg-lime-500 cursor-pointer hover:text-lime-300">Select</a>
            <a class="border-2 border-lime-300 rounded-md py-2 px-4 bg-lime-200 text-center hover:bg-lime-500 cursor-pointer hover:text-lime-300" (click)="goForward()">Next</a>
        </div>
    </div>
</div>