.walkSprite{
    background: url('../../../assets/homeles/Homeless_1/Walk.png');
    height: 128px;
    width: 128px;
    animation: homelesAndThugWalk steps(8) 2.5s infinite;
}


@keyframes homelesAndThugWalk {
    from{background-position: 0px;}
    to{background-position: -1024px;}
}