@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: robot1;
    src: url('./assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}
@font-face {
    font-family: robot2;
    src: url('./assets/fonts/RobotoMono-VariableFont_wght.ttf');
}

.robot1{
    font-family: robot1;
}
.robot2{
    font-family: robot2;
}